/* My Styling */

html {
    font-size: 22px;
    /* Set the base font size */
    line-height: 1.5rem;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #191724;
    /* Base color */
    color: #e0def4;
    /* Text color */
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    /* 32px */
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    /* 28px */
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;

}

a {
    color: #9ccfd8;
    /* Same color as main text */
    text-decoration: none;
}

a:hover {
    text-decoration-thickness: 4px;
    color: #eb6f92;
}

header,
main,
footer {
    padding: 0 0.5rem;
}

/* Header */
header {
    margin-bottom: 2rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    align-items: center;
}

.header-top-left {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.site-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.site-title span {
    color: #f6c177;
    /* Rose Pine accent color */
}

.site-subtitle {
    color: #31748f;
    /* Subtitle color */
}

header nav {
    background-color: #26233a;
    /* Nav background color */
    padding: 1rem 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
}


/* ***** Main ***** */

.introduction {
    margin-bottom: 2rem;
    border-bottom: 1px solid #e0def4;
}

.introduction p {
    line-height: 1.5rem;
}

main {
    margin-bottom: 2rem;
}

.section-divider {
    max-width: 80%;
    border-top: 1px solid #e0def4;
    margin-left: auto;
    margin-right: auto;
}

.recent-posts-line {
    margin-bottom: 1rem;
    font-size: 1.25rem;
}

.post {
    background-color: #26233a;
    /* Post background color */
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem; /* Add space between posts */
}

.post h2 a {
    color: #e0def4;
    text-decoration: none;
}

.post h2 a:hover {
    color: #eb6f92;
}

.post-footer,
.post-footer a {
    font-size: 0.75rem;
    color: #908caa;
    /* Post footer color */
}

/* ***** Footer ***** */

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #e0def4;
    text-align: center;
}
